<style>
  td {border:1px solid #ccc;padding:10px 70px;}
  .various_platforms {padding:20px;margin-left:-18%;}
</style>
<h1 style="padding:35px 0;">UsersDelight integration with these Platforms</h1>
<div class="various_platforms">
  <table class="table_of_platforms">
    <tbody>
      <tr>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=blogger"><img src="https://www.blogger.com/img/blogger-logo-medium.png" height="34" width="131" alt="Blogger" style="padding-left:14%"/></a></td>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=joomla"><img src="http://www.smartitians.com/smartitians/wp-content/themes/smartitians/images/joomla-development.png" style="max-width: 197px;max-height: 100px;"/></a></td>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=magento"><img src="http://gauss-development.com/wp-content/uploads/2014/02/magento.jpg" style="max-width: 197px;"/></a></td>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=wordpress"><img src="http://www.morroni.com/wp-content/uploads/2013/12/WordPress.png" style="max-width: 118px;padding-left:22px;"/></a></td>
      </tr>
      <tr>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=shopify"><img src="http://thewebplant.com/images/shopify.png" style="max-width: 197px;"/></a></td>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=bigcommerce"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnjh12uPOTAUSJ4hwPyEDsTcySUe4PSOvy2KFwKDY1EW7I8WE2Og" style="max-width: 197px;"/></a></td>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=drupal"><img src="http://www.activemedia.by/i/drupal_1.png" style="max-width: 197px;"/></a></td>
        <td><a href="<%= SITE_URL%>/admin/home/instructions?platform=prestashop"><img src="http://www.ezeelive.com/wp-content/uploads/2014/02/prestashop-development-company-india-ezeelive-technologies.png" style="max-width: 197px;" /></a></td>
      </tr>     
    </tbody></table>
</div>
