<style>
  td {border:1px solid #ccc;padding:10px 70px;}
  .various_platforms {padding:20px;}
</style>
<h1 style="padding:35px 0;">UsersDelight integration with these Platforms</h1>
<div class="various_platforms">
  <table class="table_of_platforms">
    <tbody>
      <tr>
        <td><a href="<%= SITE_URL%>/integrations/blogger"><img src="/images/integrations/blogger.png" height="34" width="131" alt="Blogger" style="padding-left:14%"/></a></td>
        <td><a href="<%= SITE_URL%>/integrations/shopify"><img src="/images/integrations/shopify.png" style="max-width: 197px;"/></a></td>
        <td><a href="<%= SITE_URL%>/integrations/bigcommerce"><img src="/images/integrations/bigcommerce.jpg" style="max-width: 197px;"/></a></td>
      </tr>
      <tr>
        <td><a href="<%= SITE_URL%>/integrations/tumblr"><img src="/images/integrations/tumblr.png" style="max-width: 148px;"/></a></td>
        <!--<td><a href="<%#= SITE_URL%>/integrations/joomla"><img src="http://www.smartitians.com/smartitians/wp-content/themes/smartitians/images/joomla-development.png" style="max-width: 197px;max-height: 100px;"/></a></td>-->
        <!--<td><a href="<%#= SITE_URL%>/integrations/magento"><img src="http://gauss-development.com/wp-content/uploads/2014/02/magento.jpg" style="max-width: 197px;"/></a></td>-->
        <td><a href="<%= SITE_URL%>/integrations/wordpress"><img src="/images/integrations/wordpress.png" style="max-width: 118px;padding-left:43px;"/></a></td>
        <td><a href="<%= SITE_URL%>/integrations/buildabazaar"><img src="/images/integrations/buildabazaar.jpg" style="max-width: 203px;"/></a></td>
      </tr>
      <!--<tr><td><a href="<%#= SITE_URL%>/integrations/drupal"><img src="http://www.activemedia.by/i/drupal_1.png" style="max-width: 197px;"/></a></td>
<td><a href="<%#= SITE_URL%>/integrations/prestashop"><img src="http://www.ezeelive.com/wp-content/uploads/2014/02/prestashop-development-company-india-ezeelive-technologies.png" style="max-width: 197px;" /></a></td>
      </tr>-->
    </tbody>
  </table>
</div>
